<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture Shop</title>

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!--  Meta styles  -->
    <link rel="stylesheet" href="/src/css/fonts.css">
    <link rel="stylesheet" href="/src/css/repair.css">

    <!--  Styles  -->
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>
    <header class="header">
        <div class="container">

            <article class="header__upper">

                <div class="header__left">
                    <div class="header__logo">Funiro.</div>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Products</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Rooms</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>
                    <a href="#" class="header__link">Inspirations</a>

                    <form action="#" method="get" enctype="text/plain">
                        <input id="search" name="search" type="text" placeholder="Search for minimalist chair">
                    </form>
                </div>

                <div class="header__right">
                    <div class="favorite">
                        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="#262F56" stroke-width="1.8"/>
                        </svg>
                    </div>
                    <img class="cart" src="/public/img/cart.png" alt="cart">
                    <img class="profile" src="/public/img/profile.jpg" alt="profile">
                </div>

            </article>

        </div>

        <article class="header__carousel">
            <div class="agitation">
                <h1 class="title__agitation">High-Quality Furniture Just For You</h1>
                <p class="desc__agitation">Our furniture is made from selected 
                and best quality materials that are 
                suitable for your dream home</p>
                <button class="button">Shop Now</button>
            </div>
            <div id="prev_arrow">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div id="next_arrow">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div id="dots"></div>
            <div class="carousel__images">
                <div class="carousel_img_block">
                    <img class="carousel__image" src="/public/img/carousel_img_1.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>
                <div class="carousel_img_block">
                    <img class="carousel__image" src="/public/img/carousel_img_2.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>   
                <div class="carousel_img_block">    
                    <img class="carousel__image" src="/public/img/carousel_img_3.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>   
            </div>
            

        </article>

    </header>

    <!--  Scripts  -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script src="/src/js/index.js"></script>
</body>
</html>