<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture Shop</title>

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

    <!--  Meta styles  -->
    <link rel="stylesheet" href="/src/css/fonts.css">
    <link rel="stylesheet" href="/src/css/repair.css">

    <!--  Styles  -->
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>
    <header class="header">
        <div class="container">

            <article class="header__upper">

                <div class="header__left">
                    <div class="header__logo">Funiro.</div>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Products</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Rooms</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>
                    <a href="#" class="header__link">Inspirations</a>

                    <form action="#" method="get" enctype="text/plain">
                        <input id="search" name="search" type="text" placeholder="Search for minimalist chair">
                    </form>
                </div>

                <div class="header__right">
                    <img class="favorite" src="/public/img/favorite.png" alt="favorite">
                    <img class="cart" src="/public/img/cart.png" alt="cart">
                    <img class="profile" src="/public/img/profile.jpg" alt="profile">
                </div>

            </article>

        </div>

        <article class="header__carousel">

            <div id="prev_arrow"></div>
            <div id="next_arrow"></div>
            <div id="dots"></div>

            <div class="carousel__images">
                <img class="carousel__image" src="/public/img/carousel_img_1.jpg" alt="carousel img">
                <img class="carousel__image" src="/public/img/carousel_img_2.jpg" alt="carousel img">
                <img class="carousel__image" src="/public/img/carousel_img_3.jpg" alt="carousel img">
            </div>

        </article>

    </header>

    <!--  Scripts  -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script src="/src/js/index.js"></script>
</body>
</html>