<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture Shop</title>

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!--  Meta styles  -->
    <link rel="stylesheet" href="/src/css/fonts.css">
    <link rel="stylesheet" href="/src/css/repair.css">

    <!--  Styles  -->
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>
    <header class="header">
        <div class="container">

            <article class="header__upper">

                <div class="header__left">
                    <div class="header__logo">Funiro.</div>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Products</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>

                    <a href="#" class="header__popup" onclick="toggleActive(this)">
                        <span>Rooms</span>
                        <img src="/public/img/triangle.svg" alt="triangle">
                    </a>
                    <a href="#" class="header__link">Inspirations</a>

                    <form action="#" method="get" enctype="text/plain">
                        <input id="search" name="search" type="text" placeholder="Search for minimalist chair">
                    </form>
                </div>

                <div class="header__right">
                    <div class="favorite">
                        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="#262F56" stroke-width="1.8"/>
                        </svg>
                    </div>
                    <img class="cart_logo" src="/public/img/Cart.svg" alt="cart_logo">
                    <img class="profile" src="/public/img/profile.jpg" alt="profile">
                </div>

            </article>

        </div>
<!--carousel-->
        <article class="header__carousel">
            <div class="agitation">
                <h1 class="title__agitation">High-Quality Furniture Just For You</h1>
                <p class="desc__agitation">Our furniture is made from selected 
                and best quality materials that are 
                suitable for your dream home</p>
                <button class="button">Shop Now</button>
            </div>
            <div id="prev_arrow">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div id="next_arrow">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div id="dots"></div>
            <div class="carousel__images">
                <div class="carousel_img_block">
                    <img class="carousel__image" src="/public/img/carousel_img_1.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>
                <div class="carousel_img_block">
                    <img class="carousel__image" src="/public/img/carousel_img_2.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>   
                <div class="carousel_img_block">    
                    <img class="carousel__image" src="/public/img/carousel_img_3.jpg" alt="carousel img">
                    <div class="carousel_info">
                        <h3>Bohauss</h3>
                        <p>Luxury big sofa 2-seat</p>
                        <h4>Rp 17.000.000</h4>
                        <div class="carousel_info__arrow">
                            <img class="arrow" src="/public/img/arrow.png" alt="arrow">
                        </div>    
                    </div>
                </div>   
            </div>
        </article>
<!--carousel-->
    </header>
    <div class="container">
        <article class="privileges">
        
            <div class="privileges_block">
                <img class="priv_img" src="/public/img/priv1.png" alt="priv_img">
                <div class="about_priv">
                    <p class="title_priv">High Quality</p>
                    <p class="desc_priv">crafted from top materials</p>
                </div>
            </div>
            <div class="privileges_block">
                <img class="priv_img" src="/public/img/priv2.png" alt="priv_img">
                <div class="about_priv">
                    <p class="title_priv">Warrany Protection</p>
                    <p class="desc_priv">Over 2 years</p>
                </div>
            </div>
            <div class="privileges_block"><img class="priv_img" src="/public/img/priv3.png" alt="priv_img">
                <div class="about_priv">
                    <p class="title_priv">Free Shipping</p>
                    <p class="desc_priv">Order over 150 $</p>
                </div>    
            </div>
            <div class="privileges_block">
                <img class="priv_img" src="/public/img/priv4.png" alt="priv_img">
                <div class="about_priv">
                    <p class="title_priv">24 / 7 Support</p>
                    <p class="desc_priv">Dedicated support</p>
                </div>    
            </div>
            </article>
            
            <div class="products">
                <h2 class="title_products">Our Products</h2>
                <div class="all_products">
                    <div class="cart">
                        <div class="cart_first">
                            <div class="sale_info">-30%</div>
                            <img class="img_products" src="/public/img/product1.png">
                            <div class="info_cart">
                                <p class="title_product">Syltherine</p>
                                <p class="desc_products">Stylish cafe chair</p>
                                <div class="price">
                                    <p class="new_price">Rp 2.500.000</p>
                                    <p class="old_price">Rp 3.500.000</p>
                                </div>
                            </div>    
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart">
                        <div class="cart_first">
                            <img class="img_products" src="/public/img/product2.png">
                            <div class="info_cart">
                                <p class="title_product">Leviosa</p>
                                <p class="desc_products">Stylish cafe chair</p>
                                <div class="price">
                                    <p class="new_price">Rp 2.500.000</p>
                                </div>
                            </div>  
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    
                    <div class="cart"> 
                        <div class="cart_first">
                            <div class="sale_info">-50%</div>
                            <img class="img_product" src="/public/img/product3.png">
                            <div class="info_cart">
                                <p class="title_product">Lolito</p>
                                <p class="desc_products">Luxury big sofa</p>
                                <div class="price">
                                    <p class="new_price">Rp 7.000.000</p>
                                    <p class="old_price">Rp 14.000.000</p>
                                </div>
                            </div>
                        </div> 
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart"> 
                        <div class="cart_first">
                            <div class="new">New</div>
                            <img class="img_products" src="/public/img/product4.png">
                            <div class="info_cart">
                                <p class="title_product">Respira</p>
                                <p class="desc_products">Minimalist fan</p>
                                <div class="price">
                                    <p class="new_price">Rp 500.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart">
                        <div class="cart_first">
                            <img class="img_products" src="/public/img/product5.png">
                            <div class="info_cart">
                                <p class="title_product">Grifo</p>
                                <p class="desc_products">Night lamp</p>
                                <div class="price">
                                    <p class="new_price">Rp 1.500.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart"> 
                        <div class="cart_first">
                            <div class="new">New</div>
                            <img class="img_products" src="/public/img/product6.png">
                            <div class="info_cart">
                                <p class="title_product">Muggo</p>
                                <p class="desc_products">Small mug</p>
                                <div class="price">
                                    <p class="new_price">Rp 150.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart"> 
                        <div class="cart_first">
                            <div class="sale_info">-50%</div>
                            <img class="img_products" src="/public/img/product7.png">
                            <div class="info_cart">
                                <p class="title_product">Pingky</p>
                                <p class="desc_products">Cute bed set</p>
                                <div class="price">
                                    <p class="new_price">Rp 7.000.000</p>
                                    <p class="old_price">Rp 14.000.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                        </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                    <div class="cart">  
                        <div class="cart_first">
                            <div class="new">New</div>
                            <img class="img_products" src="/public/img/product8.png">
                            <div class="info_cart">
                                <p class="title_product">Potty</p>
                                <p class="desc_products">Minimalist flower pot</p>
                                <div class="price">
                                    <p class="new_price">Rp 500.000</p>
                                </div>
                            </div>
                        </div> 
                        <div class="cart_second">
                            <div class="content_cart">
                                <button class="button_cart">Add to cart</button>
                                <div class="func">
                                    <div class="share">
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="white"/>
                                        </svg>

                                        <p>Share</p>
                                    </div>
                                    <div class="add_favorite">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9996 19.054C-8 7.99991 5.99999 -4.00009 11.9996 3.58797C18 -4.00009 32 7.99991 11.9996 19.054Z" stroke="white" stroke-width="1.8"/>
                                    </svg>
                                        <p>Like</p>
                                    </div>
                                </div>        
                            </div>    
                        </div>
                    </div>
                </div>
                <button class="button_products">Show More</button>
            </div>
        </div>
        <div class="rooms">
            <div class="info_rooms">
                <p class="title_rooms">50+ Beautiful rooms inspiration</p>
                <p class="desc_rooms">Our designer 
                    already made a lot of beautiful <br>
                    prototipe of rooms that inspire you</p>
                <button class="button_rooms">Explore More</button>
            </div>
            <div class="carousel_rooms">
                <div class="room">
                    <img class="img_room" src="/public/img/room1.jpg">
<!--                    <div class="desc_room">-->
<!--                        <p class="desc_rooms"></p>-->
<!--                        <p class="title_room"></p>-->
<!--                    </div>-->
                </div>
                <div class="room">
                    <img class="img_room" src="/public/img/room2.jpg">
<!--                    <div class="desc_room">-->
<!--                        <p class="desc_rooms"></p>-->
<!--                        <p class="title_room"></p>-->
<!--                    </div>-->
                </div>
                <div class="room">
                    <img class="img_room" src="/public/img/room3.jpg">
<!--                    <div class="desc_room">-->
<!--                        <p class="desc_rooms"></p>-->
<!--                        <p class="title_room"></p>-->
<!--                    </div>-->
                </div>
            </div>
            <div id="room_arrow">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div id="room_dots"></div>
        </div>
        
            <div class="container">
                <div class="tips_tricks">
                <h2 class="title_t_t">Tips &amp; Tricks</h2>
                <div class="carousel_tips">
                    <div class="block_tips">
                        <img class="img_tips" src="/public/img/tips_carousel_1.jpg" alt="tips_carousel">
                        <div class="desc_tips">
                            <div class="title_tips">How to create a living room to love</div>
                            <div class="data_tips">20 jan 2020</div>
                        </div>
                    </div>
                    <div class="block_tips">
                        <img class="img_tips" src="/public/img/tips_carousel_2.jpg" alt="tips_carousel">
                        <div class="desc_tips">
                            <div class="title_tips">Solution for clean look working space</div>
                            <div class="data_tips">10 jan 2020</div>
                        </div>
                    </div>
                    <div class="block_tips">
                        <img class="img_tips" src="/public/img/tips_carousel_3.jpg" alt="tips_carousel">
                        <div class="desc_tips">
                            <div class="title_tips">Make your cooking activity more fun with good setup</div>
                            <div class="data_tips">20 jan 2020</div>
                        </div>
                    </div>
                    <div class="block_tips">
                        <img class="img_tips" src="/public/img/tips_carousel_2.jpg" alt="tips_carousel">
                        <div class="desc_tips">
                            <div class="title_tips">Solution for clean look working space</div>
                            <div class="data_tips">10 jan 2020</div>
                        </div>
                    </div>
                    
                </div>
                <div id="tips_arrow_left">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div id="tips_arrow_right">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99994 1L0.999939 8L7.99994 15" stroke="#E89F71" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div id="tips_dots"></div>
            </div>
        </div>
    <div class="container_foto">
        <div class="foto_furniture">
            <div class="block_desc_foto_furniture">
                <p class="desc_foto_furniture">Share your setup with</p>
                <h2 class="title_desc_foto_furniture">#FuniroFurniture</h2>
            </div> 
            <div class="block_all_foto_furniture">
                <div class="block_foto_left">
                    <div class="foto_left_top">
                        <img class="img_fur" src="/public/img/foto_left_top1.jpg">
                        <img class="img_fur1" src="/public/img/foto_left_top2.jpg">
                    </div>
                    <div class="foto_left_bottom">
                        <img class="img_fur2" src="/public/img/foto_left_bottom1.jpg">
                        <img class="img_fur" src="/public/img/foto_left_bottom2.jpg">
                    </div>
                </div>

                <div class="block_foto_center">
                    <img class="img_fur" src="/public/img/foto_center.jpg">
                </div>
             <div class="block_foto_right">
                <div class="foto_right_top">
                    <img class="img_fur3" src="/public/img/foto_right_top1.jpg">
                    <img class="img_fur" src="/public/img/foto_right_top2.jpg">
                </div>
                <div class="foto_right_bottom">
                    <img class="img_fur" src="/public/img/foto_right_bottom1.jpg">
                    <img class="img_fur" src="/public/img/foto_right_bottom2.jpg">
                </div>
            </div>
            </div>
        </div>
      </div>
    <div class="container">
        <footer class="footer">
            <div class="contacts">
                <h4>Funiro.</h4>
                <a>Worldwide furniture store since<br> 2020. We sell over 1000+ branded<br> products on our website</a>
                <div class="geo">
                    <img src="/public/img/geo.jpg">
                    <a>Sawojajar Malang, Indonesia</a>
                </div>
                <div class="number">
                    <img src="/public/img/tel.jpg">
                    <a href="tel:+6289 456 3455">+6289 456 3455</a>
                </div>
                <a href="www.funiro.com">www.funiro.com</a>
            </div>
            <div class="menu">
                <h4>Menu</h4>
                <a>Products</a>
                <a>Rooms</a>
                <a>Inspirations</a>
                <a>About Us</a>
                <a>Terms &amp; Policy</a>
            </div>
            <div class="acount">
                <h4>Account</h4>
                <a>My Account</a>
                <a>Checkout</a>
                <a>My Cart</a>
                <a>My catalog</a>
            </div>
            <div class="connected">
                <h4>Stay Connected</h4>
                <a>Facebook</a>
                <a>Instagram</a>
                <a>Twitter</a>
            </div>
            <div class="updated">
                <h4>Stay Updated</h4>
                <form id="form_email" action="#" method="get" enctype="text/plain">
                    <input id="email" type="text" placeholder="Enter your email">
                    <input id="submit_email" type="button" value="">
                </form>
            </div>
        </footer>
    </div>
    <!--  Scripts  -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script src="/src/js/index.js"></script>
</body>
</html>