
/* Global */
body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
/* / Global */


/* Header */
.header {
    padding-top: 40px;
    background: rgb(249,241,231);
    background: linear-gradient(90deg, rgba(249,241,231,1) 66%, rgba(252,248,243,1) 66%);
}

.header__upper, .header__left, .header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__upper {
    padding-bottom: 65px;
}

.header__left {
    width: 75%;
}

.header__right {
    margin: 0;
    width: 15%;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
}

.header__popup, .header__link {
    color: #3A3A3A;
    text-decoration: none;
    position: relative;
}

.header__popup img {
    display: inline-block;
    transition: all .2s linear;
}

.header__popup.active img {
    transform: rotate(-90deg);
}

#search {
    width: 473px;
    height: 45px;
    background-image: url("/public/img/search.png");
    background-position: left 15px top 50%;
    background-repeat: no-repeat;

    padding: 12px 44px;
    border: 0;
    outline: none;
    background-color: white;
}

.favorite svg path{
    transition: all .3s ease;
}

.favorite:hover svg path{
    fill: red;
    stroke: red;

}

.profile {
    border-radius: 50%;
    width: 40px;
}

.favorite, .cart, .profile {
    cursor: pointer;

}

.carousel__image {
    display: block;
    padding: 0 16px;
    min-width: 100%;
}

.header__carousel {
    position: relative;
}

.agitation {
    position: absolute;
    width: 32%;
    left: 5%;
    top: 5%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.72);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel_info {
    background-color: rgba(255, 255, 255, 0.72);
    width: 32%;
    height: 27%;
    position: absolute;
    bottom: 7%;
    right: 5%;
    z-index: 2;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.carousel_info__arrow {
    position: absolute;
    width: 30px;
    height: 20px;
    right: 5%;
    bottom: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .4s linear;
    cursor: pointer;
}

.carousel_info__arrow:hover {
    animation: carousel_info__arrow 1s linear infinite;
}

@keyframes carousel_info__arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.carousel_info p {
    color: #616161;
    font-size: 16px;
}

.carousel_info h3 {
    font-size: 28px;
    color: #3A3A3A;
    font-weight: 600;
}

.carousel_info h4 {
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
}

.title__agitation {
    font-size: 39px;
}

.desc__agitation {
    color: #898989;
    padding: 20px 0 30px 0;
}

.button {
    border: none;
    background-color: #E89F71;
    padding: 5% 10%;
    color: white;
    cursor: pointer;
    transition: all .4s linear;
}

.agitation button:hover {
    background-color: white;
    color: #E89F71;
}

.carousel__images {
    padding-top: 80px;
}

.carousel__desc {
    background-color: rgba(255, 255, 255, 0.72);
    width: 290px;
    height: 150px;
    z-index: 1;
    float: right;
    padding: 0 20px 20px 20px;
    margin-top: -6%;
    position: absolute;
    right: 0;
    background-color: aqua;
}

#prev_arrow, #next_arrow {
    position: absolute;
    top: 1%;
    z-index: 1;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: rgb(249,241,231);
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: all .2s linear;
    
}

.carousel_img_block {
    position: relative;

}

#next_arrow {
    right: calc(16% - 28px);
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev_arrow {
    right: calc(16% + 28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev_arrow:hover, #next_arrow:hover {
    background-color: #E89F71;
}

#prev_arrow:hover svg path, #next_arrow:hover svg path {
    stroke: white;
    transition: all .2s linear;
}



#dots {
    position: absolute;
    top: -2%;
    right: calc(52% + 28px);
    z-index: 1;
    transform: rotate(-90deg);
    opacity: 0.7;
}

.slick-dots li button {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #D8D8D8;
    border-radius: 50%;
    font-size: 0;
    /*border: 0;*/
    transition: all .2s linear;
    padding: 6px;
    /*border: 10px solid rgb(252 248 243);*/
    border: 8px solid rgb(249 241 231);
}

.slick-dots li button:hover {
    background-color: #a1a1a1;
}

.slick-dots li.slick-active button {
    background-color: #E89F71;
    outline: 2px solid #E89F71;
    border-collapse: separate;
    border-spacing: 15px 50px;
}
/* / Header */

/*Privileges*/

.privileges {
    padding: 5% 0 5% 0;
    display: flex;
}

.privileges_block {
    display: flex;
    padding: 3%;
    align-items: center;
}

.title_priv {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.desc_priv {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
}

.about_priv {
    padding-left: 15px;
}
/* /Privileges*/

/*PRODUCTS*/

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.all_products {
    display: flex;
    flex-wrap: wrap;
}

.title_products {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.cart {
    margin: 20px;
    position: relative;
    width: 20%;
    background-color: #F4F5F7;  
    transition: all .5s linear;
}

.info_cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10% 0 10% 10%;
}

.title_products {
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 600;
}

.desc_products {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
}

.new_price {
    font-weight: 600;
    font-size: 20px;
    color: #3A3A3A;
}

.old_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #B0B0B0;
}

.sale_info, .new {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #E97171;
    border-radius: 50%;
    top: 5%;
    right: 5%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .new {
    background: #2EC1AC;;
}

.button_products, .button_cart {
    border: none;
    background-color: #E89F71;
    padding: 1% 5%;
    color: white;
    cursor: pointer;
    transition: all .4s linear;
}

.products button:hover {
    background-color: white;
    color: #E89F71;
    border: 1px solid #E89F71;
}


/*cart_second*/

.cart_second {
    position: absolute;
    background-color: rgba(58,58,58,0.72);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: all .5s linear;
}

.content_cart {
    position: absolute;
    top: 35%;
    left: 14%;
    width: 100%
}

.button_cart {
    padding: 5% 20%;
}

.func {
    display: flex;
    padding-top: 10%;
    justify-content: space-evenly;
    margin-left: -25%;
}

.button_cart:hover {
    background-color: white;
    color: #E89F71;
    border: 1px solid #E89F71;
} 

.share, .add_favorite {
    z-index: 1;
    display: flex;
    color: white;
}

.share p, .add_favorite p{
    margin-left: 10px;
    transition: all .2s linear;
    
}

.share svg path, .add_favorite svg path{
    transition: all .5s ease;  
}

.share:hover svg path, .share:hover p{
    fill: black;
    color: black;
}

.add_favorite:hover svg path, .add_favorite:hover p{
    fill: red;
    stroke: red;
    color: black;
}
/*/ cart_second*/

.cart:hover .cart_second {
    display: block;

} 

/*/PRODUCTS*/


/* Media Area */

/*
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
*/

@media (min-width: 576px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}
/* / Media Area */