
/* Global */
body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    overflow: inherit;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
/* / Global */


/* Header */
.header {
    padding-top: 40px;
    background: rgb(249,241,231);
    background: linear-gradient(90deg, rgba(249,241,231,1) 66%, rgba(252,248,243,1) 66%);
}

.header__upper, .header__left, .header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__upper {
    padding-bottom: 65px;
}

.header__left {
    width: 75%;
}

.header__right {
    margin: 0;
    width: 15%;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
}

.header__popup, .header__link {
    color: #3A3A3A;
    text-decoration: none;
    position: relative;
}

.header__popup img {
    display: inline-block;
    transition: all .2s linear;
}

.header__popup.active img {
    transform: rotate(-90deg);
}

#search {
    width: 473px;
    height: 45px;
    background-image: url("/public/img/search.png");
    background-position: left 15px top 50%;
    background-repeat: no-repeat;

    padding: 12px 44px;
    border: 0;
    outline: none;
    background-color: white;
}

.favorite svg path{
    transition: all .3s ease;
}

.favorite:hover svg path{
    fill: red;
    stroke: red;
}

.profile {
    border-radius: 50%;
    width: 40px;
}

.favorite, .cart_logo, .profile {
    cursor: pointer;
}
.favorite {
    line-height: .7;
}

.carousel__image {
    display: block;
    padding: 0 16px;
    min-width: 100%;
}

.header__carousel {
    position: relative;
}

.agitation {
    position: absolute;
    width: 32%;
    height: calc(100% - 80px);
    /*left: 5%;*/
    /*top: 5%;*/
    /*padding-top: 80px;*/
    /*transform: translateY(-80px);*/
    left: 80px;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.72);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel_info {
    background-color: rgba(255, 255, 255, 0.72);
    width: 32%;
    height: 27%;
    position: absolute;
    bottom: 7%;
    right: 5%;
    z-index: 2;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.carousel_info__arrow {
    position: absolute;
    width: 30px;
    height: 20px;
    right: 5%;
    bottom: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .4s linear;
    cursor: pointer;
}

.carousel_info__arrow:hover {
    animation: carousel_info__arrow 1s linear infinite;
}

@keyframes carousel_info__arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.carousel_info p {
    color: #616161;
    font-size: 16px;
}

.carousel_info h3 {
    font-size: 28px;
    color: #3A3A3A;
    font-weight: 600;
}

.carousel_info h4 {
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
}

.title__agitation {
    font-size: 39px;
}

.desc__agitation {
    color: #898989;
    padding: 20px 0 30px 0;
}

.button {
    border: 1px solid #E89F71;
    background-color: #E89F71;
    padding: 5% 10%;
    color: white;
    cursor: pointer;
    transition: all .4s linear;
}

.agitation button:hover {
    background-color: white;
    color: #E89F71;
}

.carousel__images {
    padding-top: 80px;
}

.carousel__desc {
    background-color: rgba(255, 255, 255, 0.72);
    width: 290px;
    height: 150px;
    z-index: 1;
    float: right;
    padding: 0 20px 20px 20px;
    margin-top: -6%;
    position: absolute;
    right: 0;
    background-color: aqua;
}

#prev_arrow, #next_arrow {
    position: absolute;
    top: 1%;
    z-index: 1;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: rgb(249,241,231);
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: all .2s linear;
    
}

.carousel_img_block {
    position: relative;
}

.carousel_info{
    opacity: 0;
    transition: all .5s linear;
}
.slick-current > .carousel_info {
    opacity: 1;
}

#next_arrow {
    right: calc(16% - 28px);
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev_arrow {
    right: calc(16% + 28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev_arrow:hover, #next_arrow:hover {
    background-color: #E89F71;
}

#prev_arrow:hover svg path, #next_arrow:hover svg path {
    stroke: white;
    transition: all .2s linear;
}



#dots {
    position: absolute;
    top: -2%;
    right: calc(52% + 28px);
    z-index: 1;
    transform: rotate(-90deg);
    opacity: 0.7;
}

.slick-dots li button {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #D8D8D8;
    border-radius: 50%;
    font-size: 0;
    /*border: 0;*/
    transition: all .2s linear;
    padding: 6px;
    /*border: 10px solid rgb(252 248 243);*/
    border: 8px solid rgb(249 241 231);
}
#room_dots > .slick-dots li button {
    border: 8px solid #fcf8f3;
}

/* #fcf8f3 */

.slick-dots li button:hover {
    background-color: #a1a1a1;
}

.slick-dots li.slick-active button {
    background-color: #E89F71;
    outline: 2px solid #E89F71;
    border-collapse: separate;
    border-spacing: 15px 50px;
}
/* / Header */

/*Privileges*/

.privileges {
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}

.privileges_block {
    display: flex;
    padding: 3%;
    align-items: center;
}

.title_priv {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.desc_priv {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
}

.about_priv {
    padding-left: 15px;
}
/* /Privileges*/

/*PRODUCTS*/

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.all_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.title_products, .title_t_t, .title_desc_foto_furniture {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.cart {
    margin: 20px;
    position: relative;
    width: 20%;
    background: #F4F5F7;
    transition: all .5s linear;
}

.info_cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10%;
}

.title_product, .title_tips {
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 600;
}

.desc_products {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
}

.new_price {
    font-weight: 600;
    font-size: 20px;
    color: #3A3A3A;
}

.old_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #B0B0B0;
}

.sale_info, .new {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #E97171;
    border-radius: 50%;
    top: 5%;
    right: 5%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .new {
    background: #2EC1AC;;
}

.button_products, .button_cart {
    background-color: #E89F71;
    padding: 1% 5%;
    color: white;
    border: 1px solid #E89F71;
    cursor: pointer;
    transition: all .4s linear;
}

.products button:hover {
    background-color: white;
    color: #E89F71;
    border: 1px solid #E89F71;
}


/*cart_second*/

.cart_second {
    position: absolute;
    background-color: rgba(58,58,58,0.72);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: all .5s linear;
}

.content_cart {
    position: absolute;
    top: 35%;
    left: 14%;
    width: 100%
}

.button_cart {
    padding: 5% 20%;
}

.func {
    display: flex;
    padding-top: 10%;
    justify-content: space-evenly;
    margin-left: -25%;
}

.button_cart:hover {
    background-color: white;
    color: #E89F71;
    border: 1px solid #E89F71;
} 

.share, .add_favorite {
    z-index: 1;
    display: flex;
    color: white;
    cursor: pointer;
}

.share p, .add_favorite p{
    margin-left: 10px;
    transition: all .2s linear;
    
}

.share svg path, .add_favorite svg path{
    transition: all .5s ease;  
}

.share:hover svg path, .share:hover p{
    fill: #2EC1AC;
    color: #f4f5f7;
}

.add_favorite:hover svg path, .add_favorite:hover p{
    fill: red;
    stroke: red;
    color: #f4f5f7;
}
/*/ cart_second*/

.cart:hover .cart_second {
    display: block;

} 
/*/PRODUCTS*/
/*ROOMS*/

.rooms {
    background-color: #FCF8F3;
    padding: 5% 0 5% 10%;
    display: flex;
    position: relative;
    justify-content: center;
}

.img_room {
    max-height: 415px;
    margin: 0;
    width: 100%;
}


/*img_room min-height 460px*/


.title_rooms {
    font-size: 40px;
    color: #3A3A3A;
    font-weight: 700;
}

.info_rooms {
    width: 445px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    /*padding: 5%;*/
    margin-right: 40px;
}

.desc_rooms {
    font-weight: 500;
    font-size: 16px;
    color: #616161;
    padding: 5% 0 5% 0;
}

.carousel_rooms {
    width: 60%;
    /*float: left;*/
}

.button_rooms {
    border: none;
    background-color: #E89F71;
    padding: 3% 12%;
    color: white;
    cursor: pointer;
    transition: all .4s linear;
    border: 1px solid #E89F71;
}

.button_rooms:hover {
    background-color: white;
    color: #E89F71;
}

.room {
    margin: 0 15px 0 15px;
}

#room_arrow, #tips_arrow_right, #tips_arrow_left {
    position: absolute;
    top: 45%;
    z-index: 1;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: all .2s linear;
    right: calc(2% + 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}

#room_dots {
    position: absolute;
    bottom: 1%;
    right: calc(23% + 28px);
    z-index: 1;
    transform: rotate(-90deg);
    opacity: 0.7;
}



.slick-slide.slick-current.slick-active.slick-center.room img {
    min-height: 469px ;
}

/*/ROOMS*/

/*Tips & Tricks*/

.tips_tricks {
    margin: 50px 0 100px;
    position: relative;
}

.carousel_tips {
    display: flex;
    margin-top: 30px;
}


.block_tips {
    margin: 20px;
    box-shadow: none;

}

#tips_arrow_left {
    left: calc(-2% + 25px);
    transform: rotate(0);
    top: 55%;
}

#tips_arrow_right {
    right: calc(-2% + 24px);
    top: 55%;
}

.desc_tips {
    display: flex;
    margin: 5%;
    flex-direction: column;
}

.data_tips {
    font-weight: 400;
    font-size: 14px;
    color: #898989;
}

#tips_dots {
    position: absolute;
    bottom: -20%;
    left: 50%;
/*    margin: auto;*/
    transform: rotate(-90deg);
}

#tips_dots > .slick-dots li button {
    border: 8px solid #ffff;
}

.block_tips.slick-slide.slick-current.slick-active {
    box-shadow: 1px 6px 6px 2px #F4F4F4;
}
/*/Tips & Tricks*/

/*#FuniroFurniture*/
.block_desc_foto_furniture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc_foto_furniture {
    font-size: 20px;
    font-weight: 600;
    color: #616161;
}

.foto_left_bottom {
    width: 45%;
    display: flex;
    align-items: flex-start;
}
.img_fur, .img_fur3 {
    padding: 20px 20px 0 0;
}

.img_fur1, .img_fur2 {
    padding: 20px 20px 0 0;
    min-width: 130%;
}

.img_fur3 {
    min-width: 70%;
}

.block_all_foto_furniture {
    display: flex;
    padding-bottom: 5%;
/*    border-bottom: 1px solid #D8D8D8;*/
}

.foto_left_top {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.block_foto_center {
    width: 50%;
    margin-left: 20px;
    margin-top: 15%;
}

.foto_right_top {
    display: flex;
    width: 55%;
    align-items: flex-end;
}

.foto_right_bottom {
    display: flex;
    align-items: flex-start;
    width: 47%;
}

.container_foto {
    width: 1900px;
    margin: 0 auto;
}
/*/#FuniroFurniture*/
/*FOOTER*/

.footer {
    padding: 8% 0 5% 0;
    border-top: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between;
}

.footer h4 {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.contacts, .menu, .connected, .acount {
    display: flex;
    flex-direction: column;
    line-height: 250%;
    justify-content: space-between;
    align-items: flex-start;
}

.connected, .acount {
    justify-content: flex-start;
}
.contacts a {
    font-weight: 400;
    line-height: 150%;
}

.footer a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #616161;
    cursor: pointer;
}

.geo, .number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.geo img {
    width: 8%;
}

.number img {
    width: 12%;
}

#form_email {
    display: flex;
    padding-top: 3%;
}

#email {
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 5px;
    padding: 3%;
    border-bottom: none;
    border-left: none;
    border-top: none;
    background-color: #F4F5F7;
}

#submit_email {
    background-color: #E89F71;
    width: 60px;
    height: 45px;
    background-image: url(/public/img/submit.png);
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    cursor: pointer;
}

/*/FOOTER*/
/* Media Area */

/*
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
*/

@media (min-width: 576px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}
@media (min-width: 768px){
    .container_foto {
    width: 767px;
    }
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container_foto {
    width: 990px;
    }
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container_foto {
    width: 1199px;
    }
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container_foto {
    width: 1399px;
    }
    .container {
        max-width: 1320px;
    }
}
/* / Media Area */